.first{
    height: 400px;
    width: 400px;
    overflow: hidden;
    margin-left:10px;
    left:100px;
    top:50px;
    position:relative;
    float:right;

}
.first>div{
      height: 400px;
    width: 400px;
}
#a{
    background: #00f;
}
#b{
    background: #0ff;
}
#c{
    background: #f0f;
}
#d{
    background: #000;
}
.qw{
    height: 1000px;
    width: 600px;
    left:100px;
    top:900px;
    position:relative;
    overflow:hidden;
}