/*body{
    width: 1200px;
    margin: 0;
    padding: 0;

}
.box{
    width: 1000px;
    height: 400px;
    background: #00f;
    margin: 50px;
}
.box1{
    
    background: #0ff;
}
.box3{
    width: 1000px;
    margin: 50px;
}
.box3 div{
    width: 100px;
    height: 100px;
    float:left;
    background: #00f;
    margin: 50px;
}
.clear{
    clear:both;
}
p{
    text-align: right;
}*/
/*.box3:after {
    content: " ";
    display: block;
    clear: both;
}*/
p{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p:hover{
    width: 100%;
}